<ion-view title="Forgot Password" hide-back-button="true">


    <ion-content has-header="true" padding="true">
        <div class="list list-inset" ng-show="flag">
            <p>Enter your registered Email Address</p>
            <div class=list>
                <label class="item item-input">
                    <input type="text" placeholder="Email" ng-model="forgot.email" required>
                </label>
            </div>

            <button class="button button-block button-light" ng-click="submit()">
                Submit
            </button>
        </div>



        <div class="list list-inset" ng-show="verifyflag">
            <p>Email with verification code has been sent to the provided Email Address.</p>
            <div class=list>
                <label class="item item-input">
                    <input type="text" placeholder="Enter Verification Code" ng-model="forgot.verifycode" required>
                </label>
            </div>

            <button class="button button-block button-light" ng-click="verify()">
                Submit
            </button>
        </div>

        <div class="list list-inset" ng-show="showPassword">
            <p>Enter the New Password.</p>
            <div class=list>
                <label class="item item-input">
                    <input type="password" placeholder="Enter New Password" ng-model="forgot.password" required>
                </label>
            </div>

            <button class="button button-block button-light" ng-click="updatepassword()">
                Update
            </button>
        </div>

    </ion-content>

</ion-view>
