<ion-view title="Mail" hide-back-button="true" class="card-bg">

    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>

    <ion-content has-header="true" padding="true">

        <ion-refresher
                pulling-text="Pull to refresh..."
                on-refresh="doRefresh()">
        </ion-refresher>


        <div ng-if="couriers.length==0">
            <div class="item" style="text-align:center;">
                <h2>Nothing To Show.</h2>
            </div>
        </div>

        <div ng-if="couriers.length>0">

            <div ng-repeat="courier in couriers" class="list card">
                <a ui-sref="app.mail-detail({cId: courier.id})">
                    <div class="item">
                        <h2>Name :{{courier.name}}</h2>
                    </div>
                    <div class="item item-body">
                        <p>Click to view</p>
                        <!--
                            <p>Content Type: {{courier.contenttype}}</p>
                            <p>Sfid: {{courier.sfid}}</p>
                            <p>Id : {{courier.id}}</p>
                        -->
                    </div>
                </a>
            </div>
        </div>

    </ion-content>
</ion-view>
