<ion-view title="Welcome" hide-back-button="true" class="profile">

    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
   
    <div style="margin-top: 50px;text-align: center;">

            <!--<img src="css/img/logo.svg" style="width:65%; margin:0 auto;display: block;"/>-->
           
            <img src="/img/warranty-group.png" style="width:500px;height:200px;text-align:center;margin-top: 200px auto;margin-top: 60px;"/>

     </div>  

    </ion-content>

</ion-view>
