<ion-view class="welcome" hide-nav-bar="true" >

    <ion-content>

        <div style="margin-top: 150px;text-align: center;">

            <!--<img src="css/img/logo.svg" style="width:65%; margin:0 auto;display: block;"/>-->
           
            <img src="/img/Symantec-logo.png" style="width:400px;height:120px;text-align:center;margin-top: 200px auto"/>
            <h2 style="margin-top: -10px;">Visibility</h2>
            
            <div class="bottom">
                <a class="button button-stable" ui-sref="app.signup" style="max-width:84%;color:black;padding-left:28px;padding-right:28px;">
                     Sign Up
                     
                </a>
                <a class="button button-block button-clear" ui-sref="app.login">
                      Already a  Member?&nbsp;&nbsp;Log In&nbsp;<i class="icon-arrow-right"></i>
                </a>
               
            </div>

        </div>

    </ion-content>

</ion-view>
